## Local Development Environment Variables
#> id -u
APP_KEY= 
UID=
#> id -g
GID=
INSTALL_XDEBUG=true

## NGINX Settings
NGINX_PORT=8000

## Application Settings
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

DB_CONNECTION=pgsql
DB_HOST=5432
DB_PORT=5432
DB_DATABASE=storeroom_dev
DB_USERNAME=postgres
DB_PASSWORD=23paper0843
